/* styles.css */
.calendar-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #f2f2f2;
}

.current-day {
    background-color: green;
}

.selected-day {
    background-color: yellow; /* Puedes cambiar este color según tus preferencias */
}



#reminder-container {
    margin-top: 20px;
}

#reminder {
    width: 70%;
    padding: 5px;
    margin-right: 5px;
}

#addReminder {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#reminder-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
}

#reminder-list li {
    margin-bottom: 5px;
}

#prevMonth,
#nextMonth {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}